<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Shopping Cart</h1>
<script>    
//aSc    //        var array = ["Apple", "Banana", "Cherry"];
    //      console.log(array);
        //    console.log(array[2]);
            //console.log(array.length);
        //array.push("Dice");
        // console.log(array.length);
        // for (var i = 0; i < array.length; i++) {
            //console.log(array[i]);  
            //}
    //       var obj = {Name : "Pizza", Cost : 180, Count: 2} 
    //        console.log(obj);
    //        console.log(obj.Name);
    //        console.log(obj.Cost);
    //        console.log(obj.Count);
    //for (key in obj){
    //console.log(key+" "+obj[key]);      
    //}
    //        var cart = [];
    //        var item = {Name : "Pizza", Cost : 180, Count: 2}
    //        cart.push(item);
    //        console.log(cart);
    //        console.log(cart[0].Cost);

    //        function func(x,y) {
    //       for (var i = 0; i < y; i++) {
    //
    //        console.log(x);
    //    }
    //        }
    //        func("5",2)
    //        func("58",3)
    //        func("45",1)
    //        function sq(a) { return a ** 2;}
    //        console.log(sq(3));


var cart = [];
var Item = function (name, cost) {
    this.name = name
    this.cost = cost
};

var a = new Item("Brush", 25);
var b = new Item("Pizza", 180);

console.log(a);


</script>
</body>
</html>