{% extends "app/home.html" %}

{% load static %}

{% block title %}Feedback{% endblock %}

{% block content %}
<br>

<div class = "centered-text">
<div class = "form-text">
<div class="container">
    <h3>Feedback</h3>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          {{ feed.as_p }}
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
    </div>
</div><br>

<div class = "centered-text">
        <a href="{% url 'home' %}" class="btn" font-size = 36px>Home</a> &nbsp; &nbsp; &nbsp;
        <a href="{% url 'contact' %}" class="btn">Contact Us!</a>
             <br><br>
</div>
{% endblock %}
