{% extends "app/home.html" %}

{% load static %}

{% block title %}Lasagna{% endblock %}

{% block content %}
<br><br>
<div class = "centered-text">
    <div class="container">
        <h1>Lasagna</h1><br>
    </div>
</div>
<br><br>

<div class = "centered-text">
        <a href="{% url 'menu' %}" class="btn">< Back to Menu</a> &nbsp;
        <a href="{% url 'menu' %}" class="btn">Add to Cart</a> &nbsp;
        <a href="{% url 'cart' %}" class="btn">Checkout ></a>
             <br><br>
</div>
{% endblock %}
