{% extends "app/home.html" %}

{% load static %}

{% block title %}Pizza{% endblock %}

{% block content %}
<br><br>
<div class = "centered-text">
    <div class="container">
        <h1>Pizza</h1><br>
    </div>
</div>
    <div class="container">

<div clas = "center-left-text">
<h3>Toppings - &nbsp; (Golden Corn, Capsicum, Black-Olives, Mushroom<br>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp;Spicy Paneer and Tangy Jalapenos)  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  
&nbsp;  &nbsp;  &nbsp;  ₹ 180 /-</h3><br><br>
</div>
</div>
<!-- templates/product_list.html -->
{% for product in products %}
<div>
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>${{ product.price }}</p>
    <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
    </form>
</div>
{% endfor %}


<br><br>

<div class = "centered-text">
        <a href="{% url 'menu' %}" class="btn">< Back to Menu</a> &nbsp;
        <a href="{% url 'menu' %}" class="btn">Add to Cart</a> &nbsp;
        <a href="{% url 'cart' %}" class="btn">Checkout ></a>
             <br><br>
</div>
{% endblock %}
