{% extends "app/home.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<br><br>
<div class = "centered-text">
<div class = "form-text">
<div class="container">
<h2> Begin to Explore the Deliciousness with an Account Signup !</h2> <br>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          {{ synup1.as_p }} 
            <button type="submit" class="btn">Submit</button> &nbsp; &nbsp;
            <a href="{% url 'login' %}" class="btn">Login</a>
            </form>
            </div>
        </div>
    </div>
</div>
    <!-- <script>
        document.getElementById('liveAlertBtn').addEventListener('click', function () {
            var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
            var wrapper = document.createElement('div');
            wrapper.innerHTML = '<div class="alert alert-success alert-dismissible" role="alert">' +
                'Form submitted successfully!' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                '<span aria-hidden="true">&times;</span>' +
                '</button>' +
                '</div>';

            alertPlaceholder.append(wrapper);
        });
    </script> -->
        </form>
    </div>
</div>
<br> <br>
{% endblock %}
