{% extends "app/home.html" %}

{% load static %}

<title>Success</title>


{% block content %}
<div class = "centered-text">
    <div class="container"> <br>
        <h1> SIGNUP COMPLETE </h1> <br>
        <h4> Go To Login Page to Access Your Account! Bon Appetit... &nbsp; &nbsp; &nbsp;
        <a href="{% url 'login' %}" class="btn">Login</a><br><br></h4>
            <h4>Having Issues Regarding Signup or Login? &nbsp; &nbsp; &nbsp;
        <a href="{% url 'contact' %}" class="btn">Contact Us!</a></h4>
        <br><br>

    </div>
</div>

{% endblock %}