{% extends "app/home.html" %}

{% load static %}

<title>Success</title>


{% block content %}
<div class = "centered-text">
    <div class="container"> <br><br>
        <h1> SIGNUP COMPLETE </h1>
        <h4> Go To LOGIN Page to Access Your Account! Bon Appetit...</h4><br>
        <a href="{% url 'login' %}" class="btn">Login</a><br>
            <h4>Having Issues Regarding Signup or Login?</h4>
        <a href="{% url 'contact' %}" class="btn">Contact Us!</a>
        <br><br>

    </div>
</div>

{% endblock %}