/* CSS */
/* styles.css */

/* Resetting default margin and padding for all elements */
* {
        margin: 0;
        padding: 0;
}

body {
        background-color: #F5F5DC;
        margin: 0;
        padding: 0; 
    }

.carousel-item {
  
    
        width: 100%; 
        height: 100%; 
}

.carousel {
        width:100%;
        height: auto; 
        overflow: hidden;
        white-space: nowrap;
}

.heading {
        background-color: rgb(253, 249, 249); 
        padding: 1px;
        text-align: center;
        justify-content: center;
        font-family:"Luchador", cursive;
        font-size: 80px;
        color: rgb(154, 139, 74);

}
.heading1 {
        background-color: rgb(253, 249, 249); 
        text-align: center;
        justify-content: center;
        font-family:"Luchador", cursive;
        font-size: 40px;
        color: rgb(156, 174, 175);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.heading2 {
        background-color: rgb(253, 249, 249); 
        text-align: center;
        justify-content: center;
        font-family:  "Pecorino", cursive;
        font-size: 30px;
        color: #f3a809;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.column {
        float: left;
        width: 25%;
        padding: 0 10px;
}


.container-card{

        display: flex;
        justify-content: center;
}


.centered-card {
        justify-content: center;
        align-items: center;
        display: inline-block; 
        margin-top: 15%;
        vertical-align: right; 
        border: 5px solid  #D2B48C;
        padding: 10px; 
        border-radius: 25px;
        font-family: Arial, sans-serif;
        background-color: #D2B48C;
        width: 33%;
        margin-inline: 30px;
        margin-bottom: 15%;

        }


.menu-imgs {
        width : 100%;
        height : 56%;
        object-fit: fill;
        border-radius: 25px;
}

.btn {
        font-family: Verdana, sans-serif; 
        padding: 10px; 
        border: 1px solid #ccc; 
        border-radius: 10px;
        background-color: #f0f0f0
        
    }



.carousel-pic {
        width: 100%;
        height: 400px; /* or any desired height */
        object-fit: cover;
        display: flex;
        width: 100%;
        height: 150px; /* or any desired height */
        object-fit: cover;
        display: flex;
}


.footer-pi {
        max-width: 100%; /* Set maximum width to 100% of its container */
        max-height: 100%; /* Set maximum height to 100% of its container */
        width: 100vw; /* Allow the width to adjust proportionally */
        height: 300px; /* Allow the height to adjust proportionally */
        display: block; /* Ensure the image behaves as a block element */
        margin: 0 auto;
        object-fit: cover;
}

.w-100 {
        width: 100% !important;
        height: 300px;
}

.background {
        /* background-image: url('{% static images/Pizza.jpg %}'); */
        background-size: cover;       /* Ensures the image covers the whole element */
        background-position: center;  /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-attachment: fixed; /* Keeps the background fixed during scroll */
        height: 400px;                /* Sets the height to 100% of the viewport height */
        width: 1000px;                  /* Sets the width to 100% of the parent element */
        filter: blur(5px);
        }

@media (max-width: 768px) {
            .responsive-background {
                background-size: contain; /* Fits the image within the element */
            }
}


.centered-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family:  "Pecorino", cursive;
        font-size: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.form-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family:  "Pecorino", cursive;
        font-size: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.center-left-text {
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;
        font-family:  "Pecorino", cursive;
        font-size: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

